@import "tailwindcss";

@layer base {
    @font-face {
        font-family: dosis;
        src: url("../Fonts/Dosis-Regular.ttf");
    }
}

@theme {
    --custom-shadow : box-shadow: 0 0 0 5px #000;
}